{"errorLinesOffset":-10,"referencedClasses":["IServerConnection","PlayerSession","IReceiveServer","ServerReceive","PlayerSession","UpdatePositionPacket","HitPacket","OpenSessionPacket","PingPacket","CloseConnectionPacket","PlayerSession","PlayerSession","PlayerSession","PlayerObjectData","PlayerSession","PlayerSession","PlayerSession"]}