{"graphicsSettings":{"uiFixedResolutionPixelsHeight":720,"uiFixedResolutionPixelsWidth":1280,"uiFreeAspectResolutionSide":"Height","uiFreeResolutionPixels":720,"uiRenderPercentage":100,"uiResolutionEditor":{"depth":0,"open":true},"uiResolutionMode":"Percentage"},"javaSettings":{"javaThreadTimeOutSeconds":5.0},"physicsSettings":{"filtersEditor":{"depth":0,"open":false},"layers":[{"guid":"6a5b6154ae874700b5df6b509434be64","ignoreLayers":[],"inspectorEditor":{"depth":0,"open":false},"isDefault":true,"name":"Default"}],"layersEditor":{"depth":0,"open":false}},"tab":"Graphics","tagSystem":{"tags":[{"guid":"025a1a77cec64c20819c084f2552caff","name":"player"}]}}